/* >>>>>>>>>>>>>>>>>> GLOBAL <<<<<<<<<<<<<<<<<<*/
:root {
    --blue: #2256F2;
    --green: #04BF55;
    --lightgreen: #06d45f;
    --white: #F2F2F2;
    --yellow: #F2C641; /*#F2C641*/
    --lightyellow: #f5da8a;
    --red: #bc4749;
    --r-localnav-height: 52px;
    --r-localnav-stacked-height: 66px;
    --r-localnav-gn-height: var(--r-globalnav-height, 44px);
    --r-localnav-viewport-large-min-width: 1024px;
    --r-localnav-viewport-large-query: (min-width: 1024px);
    --r-localnav-viewport-medium-min-width: 834px;
    --r-localnav-viewport-medium-max-width: 1023px;
    --r-localnav-viewport-medium-query: (min-width: 834px);
    --r-localnav-viewport-small-min-width: 320px;
    --r-localnav-viewport-small-max-width: 833px;
    --r-localnav-viewport-small-query: (min-width: 320px);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    background: var(--white);
    font-family: 'Montserrat';
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

header {
    padding-bottom: 8rem;

    background: linear-gradient(to left top, #f6d836, #f5d339, #f4cf3c, #f3ca3e, #f2c641);}
/* ------------------ Navigation Buttons ------------------ */
nav {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: .85rem 2rem;
    justify-content: space-between;
    align-items: center;

    background-color: var(--white);
    box-shadow: 2px 2px 3px 1px#adadad7a;
}

nav .page-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}


.nav {
    text-decoration: none;
    font-size: 1rem;

    color: black;
}

.front {
    transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}
.only-breath-it:hover .front {
    transform: translateY(-3px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}
.only-breath-it:active .front {
    transform: translateY(-1px);
    transition: transform 34ms;
}
.only-breath-it {
    background: #363432;
    border: none;
    border-radius: 3rem;
    padding: 0;
    cursor: pointer;
}
.front {
    display: block;
    padding: 0.45rem 0.55rem;
    width: 6rem;
    border-radius: 4rem;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 100;
    transform: translateY(0px);


    background: var(--green);
    color: var(--white);
}
.front:hover {
    background: var(--lightgreen)
}
.only-breath-it:active .front {
    transform: translateY(-2px);
}
.only-breath-it:focus:not(:focus-visible) {
    outline: none;
}

/* ------------------ Logo ------------------ */
a.logo-a {
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    top: 3.5rem;
    
    padding-bottom: 2rem;
}
a img {
    width: 11.5rem;
    height: 2rem;
}

/* -------------- Links & Buttons ------------- */
.new {
    font-weight: bolder;
    font-size: 1.25rem;

    text-decoration: none;
    color: var(--yellow);
}
.new:hover {
    color: var(--lightyellow);
}
.button.new {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: .4rem;
}

/* >>>>>>>>>>>>>>>>>> MAIN <<<<<<<<<<<<<<<<<<*/
main {
    padding-top: 90px;
}

.breathIt {
    position: absolute;
    left: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}  
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* ------------------ Titles ----------------- */
h2 {
    font-weight: normal;
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;

    color: var(--color-dark);
}

/* ----------------- Balance ----------------- */

#balance {
    margin-top: -8rem;
}

#balance h2{
    font-weight: normal;
    color: var(--white);
}

/* ------------------ Cards ----------------- */

#cards {
    display: block;
    position: relative;
    padding: 2.5rem;
    bottom: 1rem;
    width: 85%;
    margin: 0 auto 0 auto;
    background: var(--white);

    border: 2px solid #232426;
    border-radius: 1.85rem;
    box-shadow: .65rem .65rem #232425;
}
#cards .card-total{
    background: var(--white);
    color: #232426;
    box-shadow: .65rem .65rem var(--green);
}
.card-total img {
    width: 2.25rem;
}

#cards h3 {
    font-weight: normal;
    font-size: 1rem;
}
#cards p {
    font-weight: bolder;
    font-size: 1.25rem;
}

.card {
    padding: 0.75rem 1.25rem;
    border-radius: .65rem;
    margin-bottom: 1rem;
    border: 2px solid #363432;

    background: var(--white);
    color: var(--color-dark);
}
.card h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    font-size: 1rem;
}

.icons{
    width: 22px;
}

.card-total .icons{
    width: 22px;
}

/* ------------------ Table Transactions ----------------- */
#data-table {
    display: block;
    overflow-x: auto;
    overflow-y: visible;
    height: 15rem;

    color: var(--color-dark);
}

table {
    width: 100%;
    border-spacing: 0 0.25rem;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: .65rem 0 0 .65rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 .65rem .65rem 0;
}
table th{
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    padding: 0.5rem 1.5rem;

    background: white;
}
table td{
    font-weight: 100;
    font-size: 10px;
    padding: 0.5rem 1.5rem;

    background: white;
}
table tr.items{
    opacity: 0.65;
}
table tr.items:hover {
    opacity: 1;
}
table tr img {
    width: 1.5rem;
}
table tr img:hover{
    filter: grayscale(100%);
}
td.description {
    color: var(--color-dark);
}
td.expense{
    color: var(--red);
}
td.income{
    color: var(--green);
}

img#remove-data {
    width: 14px;
}

/* >>>>>>>>>>>>>>>>>>>>> MODAL <<<<<<<<<<<<<<<<<<<<*/
.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;

    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal {
    padding: 2rem;
    max-width: 300px; 
    width: 90%;

    border-radius: 1.85rem;
    box-shadow: .45rem .45rem var(--yellow);

    background: var(--white);
}
.modal h2 {
    font-weight: bolder;
}

/* -------------------- form -------------------- */
#form {
    max-width: 500px;
}
#form h2{
    margin-top: 0;
}

input {
    border: none;
    border: 2px solid #363432;
    border-radius: .65rem;
    padding: 0.8rem;
    width: 100%;
}
.input-group {
    margin-top: 0.8rem;
}
.input-group small {
    opacity: 0.65;
}
.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.input-group.actions .button {
    width: 40%;
    height: 3rem;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    border-radius: 3rem;
    text-decoration: none;

    color: white;
}
.input-group.actions .button.save {
    border: none;
    background: var(--yellow);
}
.input-group.actions .button.save:hover{
    opacity: 0.75;

}

.input-group.actions .button.cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    /*border: 2px solid var(--red);*/

    color: var(--red);
    opacity: 0.60;
}
.input-group.actions .button.cancel:hover {
    opacity: 1;
}

/* >>>>>>>>>>>>>>>>>>>> FOOTER <<<<<<<<<<<<<<<<<<<<*/

footer {
    display: block;
    position: fixed;
    bottom: 0.5rem;
    left: 1.15rem;
    right: 0px;
    margin-bottom: 0px;
    width: auto;

    opacity: 0.75;
    font-size: 10px;

    color: black;
}

/* >>>>>>>>>>>>>>>>>> RESPONSIVE <<<<<<<<<<<<<<<<<<*/
@media(min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    header {
        padding-bottom: 10rem;
    }
    /* ------------------- logo ------------------- */
    a.logo-a {
        display: inline-block;
        top: -3.5rem;
        left: 10rem;
    }
    a img {
        width: 15rem;
        height: 2.75rem;
    }

    /* ------------------- nav ------------------- */
    nav {
        padding: .85rem 4rem;
        justify-content: end;
        gap: 10rem;
    }
    .nav {
        font-size: 1.05rem;
    }
    .front {
        padding: 0.55rem 0.65rem;
        width: 8rem;
        font-size: 1.05rem;
    }
    nav .button-nav {
        padding: 1rem 0.5rem 1rem 1rem;
    }

    /* ---------------- balance ---------------- */
    #balance {
        display: flex;
    }

    /* ---------------- cards ---------------- */
    #cards{
        padding: 4rem;
        width: 100%;
        bottom: 3rem;
    }
    #cards h3 {
        font-size: 1.25rem;
    }
    #cards p {
        font-size: 1.5rem;
    }
    .card {
        padding: 1.25rem 2.5rem;
    }
    .card h3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: normal;
        font-size: 1.5rem;
    }

    #cards .card-incomes,
    #cards .card-expenses {
        width: 335px;
    }
    #group {
        display: flex;
        justify-content: space-between;
    }
    .icons {
        width: 2.15rem;
    }

    /* ---------------- data-table ---------------- */
    #data-table {
        height: 19rem;
    }

    table th{
        font-size: 16px;
        padding: 1rem 2rem;
    }
    table td{
        font-size: 14px;
        padding: 1rem 2rem;
    }
    img#remove-data {
        width: 20px;
    }

    /* ---------------- footer ---------------- */
    footer {
        position: fixed;
        bottom: 0.5rem;
        left: 0px;
        right: 0px;
        width: 55rem;
        margin: 0 auto 0 auto;
        padding-top: 5px;
        
        font-size: 12px;
        text-align: center;

        border-top: 1px solid rgb(203, 204, 204);
    }

    /* ---------------- modal ---------------- */        
    .modal {
        padding: 2rem;
        max-width: 500px; 
        width: 90%;
    }

}